<h2><%= @walk.location %></h2>

<ul class="list-group">
  <a href="/users/<%= @walker.id %>" class="list-group-item">Walker: <%= @walker.name %></a>
   <a href="/rabbits/<%= @rabbit.id %>" class="list-group-item">Rabbit: <%= @rabbit.name %></a>
</ul>
